
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#gallery li {
  list-style: none;
}

#gallery img {
  height: 300px;
}

#validation-input.valid {
  outline: 3px solid #4caf50;
}

#validation-input.invalid {
  outline: 3px solid #f44336;
}
